$green: #07c17d;

.header {
    justify-content: center;
    align-items: center;
    height: 40vh;
    display: flex;
}

.input-file {
    height: 0;
    overflow: hidden;
    width: 0;
}

.upload {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid $green;
    border-radius: 0.6em;
    color: $green;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:focus {
        color: #fff;
        outline: 0;
    }
    &:hover {
        color: #fff;
        outline: 0;
        box-shadow: 0 0 40px 40px $green inset;
    }

}