.header {
    position: absolute;
    width: 100%;
    height: 40%;
}

form {
    position: absolute;
    top: 35%;
    left: 30%;
}

form input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

form p{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: Arial;
    font-size: 30px;
  }